* {
  padding: 0%;
  margin: 0%;
}

header {
  background-color: rgb(10, 192, 0);
  width: 100;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 62, 36);
}

h1 {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
  background: linear-gradient(rgb(10, 192, 0), rgb(255, 62, 36));
  height: 100dvh;
}

.button3d {
  margin: 300px auto;
  width: 75%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.button3d .btn3d {
  font-size: 3.5rem;
  cursor: pointer;
  position: relative;
  width: 250px;
  height: 150px;
  perspective: 500px;
}
.button3d .btn3d:active > .btn__flip {
  transform: rotateX(-90deg);
}
.button3d .btn3d .btn__flip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: center bottom 75px;
  transition: transform 600ms cubic-bezier(0.7, 0.01, 0.23, 0.99);
  transform: rotateX(0deg);
}
.button3d .btn3d .btn__flip .btn__flip--off {
  transform: rotateX(0deg) translateZ(75px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 62, 36);
}
.button3d .btn3d .btn__flip .btn__flip--on {
  transform: rotateX(90deg) translateZ(75px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(10, 192, 0);
}