.lightsaber .hilt {
  cursor: pointer;
  width: 15px;
  height: 50px;
  border-bottom: solid 4px grey;
  border-top: solid 5px grey;
  border-radius: 5px;
  z-index: 1;
  background: rgb(226, 226, 226);
  background: linear-gradient(to right, rgb(226, 226, 226) 0%, rgb(219, 219, 219) 50%, rgb(209, 209, 209) 51%, rgb(254, 254, 254) 100%);
}
.lightsaber .hilt > .switch {
  background: #b94a37;
  width: 3px;
  height: 10px;
  position: absolute;
  bottom: 25px;
  left: 13px;
  border-radius: 10px;
}
.lightsaber .hilt:active + .plasma {
  transform: scale(1, 1);
}
.lightsaber .hilt:active > .switch {
  transform: scale(0.7, 1);
}

.lightsaber .plasma {
  transition: transform 300ms;
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 45px;
  left: 2px;
  width: 10px;
  display: block;
  transform: scale(1, 0);
  height: 250px;
  transform-origin: bottom center;
  z-index: -1;
  filter: blur(1px);
}

.vader {
  background: linear-gradient(to right, rgb(17, 229, 45) 0%, rgb(212, 255, 218) 30%, rgb(255, 255, 255) 47%, rgb(255, 255, 255) 71%, rgb(17, 229, 45) 100%);
  box-shadow: 0 0 10px rgb(0, 212, 0);
}

body {
  background: #333;
}

.lightsaber-example {
  display: flex;
  justify-content: center;
  padding-top: 325px;
}

.lightsaber {
  position: relative;
}